@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Switzer";
    src: url("../../public/fonts/Switzer-Semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
